README.md/

# Python


# Environment
.env
.venv
env/
venv/
ENV/
env.bak/

# config directories for docker-compose
/mysql/
/config/
/logs/
/wordpress/
/nginx/


# wordpress theme & plugin
!wordpress/wp-content/plugins/google-site-kit/
!wordpress/wp-content/plugins/simple-google-recaptcha/
!wordpress/wp-content/themes/techengage
