README.md/

# Python
/api/controller/__pycache__/
**/__pycache__/

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/

# config directories for docker-compose
/mysql/
/config/
/logs/
/wordpress/
/nginx/


# wordpress theme & plugin
!**/google-site-kit/
!wordpress/**/simple-google-recaptcha/
!**/techengage

# NGINX
!**/nginx.conf/
